table {
    /* border-collapse: collapse;
    border: 1px solid #1b0505;
    width: 100%;
    margin-top: 20px; */
    border-spacing: 30px;
}
table, th, td {
    /* border: 1px dashed #bba7a7; */

    border: 1px solid #2b0808;
    /* padding: 15px;
     text-align: left; 
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px; */
}
th {
    background-color: #000000;
    color: #fff;
}
tr {
    background-color: #f9f9f9;
    color: #fff;
}
tr:hover {
    background-color: #a76767;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.edit-btn {
    background-color: #008CBA;
    margin-right: 5px;
}
.delete-btn {
    background-color: #f44336;
}